@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body{
    background-color: rgb(226, 220, 130);
    font-family: 'Spicy Rice', cursive;
    display: flex;
    justify-content: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-top: 6em;
}

.new-task{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin: 5px;
}

h1{
    font-size: 100px;
    color: rgb(212, 80, 40);
    text-shadow: 7px 7px #269da5;
}

input{
    background-color: rgb(0, 0, 0, 0.0);
    font-size: 30px;
    font-family: 'Questrial', sans-serif;
    width: 50%;
    margin: 3px;
}
input:focus{
    outline: 0px;
}

button{
    font-family: 'Questrial', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: #b3e5e9;
    border-radius: 5px;
    width: 20%;
    height: 30px;
    cursor: pointer;
    background-color: #269da5;
    margin: 3px;
}

.list-tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin: 5px;
}

.list{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.item{
    display: flex;
    align-items: center;
}

.right{
    width: 89%;
    display: flex;
    align-items: center;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}
.right p{
    padding-left: 0.5em;
}

.left{
    width: 11%;
    display: flex;
    padding-right: 0px;
}

img{
    width: 25px;
}

.left img{
    margin: 2px;
}