@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  background-color: rgb(226, 220, 130);
  font-family: "Spicy Rice", cursive;
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-top: 6em;
}

.new-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin: 5px;
}

h1 {
  font-size: 100px;
  color: rgb(212, 80, 40);
  text-shadow: 7px 7px #269da5;
}

.new-task input,
.new-task textarea {
  background-color: rgb(0, 0, 0, 0.1);
  padding: 0.3em;
  font-size: 30px;
  font-family: "Questrial", sans-serif;
  width: 50%;
  margin: 3px;
}
.new-task input:focus,
.new-task textarea:focus {
  outline: 0px;
}

button {
  font-family: "Questrial", sans-serif;
  font-weight: bolder;
  font-size: 25px;
  color: #b3e5e9;
  border-radius: 5px;
  width: 20%;
  height: 30px;
  cursor: pointer;
  background-color: #269da5;
  margin: 3px;
}

.list-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.item {
  display: flex;
  align-items: center;
}

.right {
  width: 89%;
  display: flex;
  align-items: center;
  font-family: "Questrial", sans-serif;
  font-size: 20px;
}
.right p {
  padding-left: 0.5em;
}

.left {
  width: 11%;
  display: flex;
  padding-right: 0px;
}

img {
  width: 25px;
}

.left img {
  margin: 2px;
  cursor: pointer;
}

#task-detail-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
dialog[open] {
  background-color: transparent;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-detail {
  background-color: seashell;
  width: 100%;
  min-height: 20rem;
  padding: 2em;
  border-radius: 10px;
}
.task-detail__title {
  font-size: 2em;
  text-align: center;
}
.task-detail__description {
  font-family: "Lucida Sans";
  margin-top: 2em;
}
.task-detail__complete {
  margin-top: 1em;
}
.close-dialog {
  text-align: end;
  cursor: pointer;
}

.edit-form-container {
  margin-top: 2em;
  display: flex;
  width: 35rem;
  flex-direction: column;
  align-items: center;
}
.edit-form-container input {
  padding: 0.5em 1em;
  width: 90%;
  margin-bottom: 1em;
}
.edit-form-container textarea {
  padding: 0.5em 1em;
  width: 90%;
  min-height: 3rem;
}
.edit-form-container button {
  width: 50%;
  margin-top: 2em;
}
